[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
serverless-py-tool = {editable = true, path = "."}

[dev-packages]
pytest = "*"
pre-commit = "*"
isort = "*"
flake8 = "*"

[requires]
python_version = "3.8"
python_full_version = "3.8"
